* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 0, 33);
    color: white;
    line-height: 1.6;
}
header h1 {
      text-align: center;
      padding: 20px;
      background-color: rgb(18, 18, 62);
      font-size: 2.5rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(18, 18, 62);
}
nav ul {
    display:flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 0 23px;
}
.left {
    font-size: 2rem;
}
.hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 80px 60px;
}
 .hero-text {
      max-width: 50%;
}
.hero-text h1 {
      font-size: 48px;
      margin-bottom: 20px;
}
 .hero-text p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 30px;
 } 
 .hero-text button {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(0, 123, 255);
        color: white;
        text-decoration: none;
        border-radius: 5px;
 }
 .hero-text button:hover {
      background-color: #0ea5e9;
      transition: background-color 0.3s ease;
    }
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
}

.hero-img img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #00bcd4;
}

.about {
      padding: 80px 60px;
      background-color: #020617;
 }
 .about h2 {
      font-size: 36px;
      margin-bottom: 20px;
      color: #38bdf8;
}

.about p {
      font-size: 18px;
      line-height: 1.6;
      max-width: 800px;
      margin-bottom: 20px;
}

    
.skills {
      padding: 80px 60px;
      background-color: #0f172a;
    }

.skills h2 {
      font-size: 36px;
      margin-bottom: 40px;
      color: #38bdf8;
 }

.skill-box {
      display: flex;
      gap: 30px;
}

.skill {
      background-color: #1e293b;
      padding: 30px;
      width: 200px;
      text-align: center;
      border: 1px solid #334155;
}

.skill h3 {
      margin-bottom: 10px;
}

    /* PROJECTS */
.projects {
      padding: 80px 60px;
      background-color: #020617;
}

.projects h2 {
      font-size: 36px;
      margin-bottom: 40px;
      color: #38bdf8;
 }

.project-list {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
}
.project {
      background-color: #1e293b;
      padding: 30px;
      width: 250px;
      border: 1px solid #334155;
      border-radius: 5px;
      text-align: center;
}
.contacts {
      padding: 80px 60px;
      background-color: #020617;
      text-align: left;
}
.contacts h2 {
      font-size: 36px;
      margin-bottom: 40px;
      color: #38bdf8;
}
.contact-container {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
}
.contact-info {
      background-color: #1e293b;
      padding: 30px;
      width: 300px;
      border: 1px solid #334155;
      border-radius: 5px;
}



